/**********     新的基色变量       ***********/
@snx-m-color-1: #E1F4E1;
@snx-m-color-2: #D4EDD8;
@snx-m-color-3: #CCE8CF;
@snx-m-color-4: #C3E2C7;
@snx-m-color-5: #A8C6AA;
@snx-m-color-6: #A2C49D;
@snx-m-color-7: #88B088;
@snx-m-color-8: #495B45;
@snx-m-color-9: #273325;
@snx-m-color-10: #232B22;

/** v1 */
@snx-v1-color-5: #1CA07D;
@snx-v1-color-4: lighten(@snx-v1-color-5, 10%);
@snx-v1-color-6: darken(@snx-v1-color-5, 10%);

/** v2 */
@snx-v2-color-5: #52B287;

/** w */
@snx-w-color-5: #f27c06;
@snx-w-color-4: lighten(@snx-w-color-5, 10%);
@snx-w-color-6: darken(@snx-w-color-5, 10%);

/** p */
@snx-p-color-5: #43b539;
@snx-p-color-4: lighten(@snx-p-color-5, 10%);
@snx-p-color-6: darken(@snx-p-color-5, 10%);

/** n */
@snx-n-color-5: #ea402a;
@snx-n-color-4: lighten(@snx-n-color-5, 10%);
@snx-n-color-6: darken(@snx-n-color-5, 10%);
